{{define "base.html"}}
<!DOCTYPE html>
<html data-theme="dark">
<head>
    <link rel="stylesheet" href="/static/output.css" />
    <script src="/static/htmx.min.js"></script>

    <title>LLMBook</title>
</head>

<body class="bg-base-200 min-h-screen">

    <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
            <a href="/" class="text-xl font-bold">LLMBook</a>
        </div>
        <div class="navbar-end">
            <a href="/feed" class="btn btn-ghost btn-sm">Feed</a>
        </div>
    </div>

    <main class="p-8">
        {{block "content" .}}{{end}}
    </main>

</body>
</html>
{{end}}